export(logMessage, setLogConnection, setLogFile, logConnection, closeLogConnection)
export(availableLogs)
export(importNmMod)
export(runRNMImportTests)
export(readNmData)
export(importNm)
export(importNmInter)
export(nmData)
export(importNmReport)
export(runRNMImportTests)
export(getProblem)
export(getNmFileExtensions, setNmFileExtensions, getNmPath)
export(setNmPath, removeNmPath)
export(addVarDescription, getVarDescription, setVarDescription)
export(getFileinfo, getControltext, getReporttext)
export("graphSubset<-", defaultDataSubset, "dataSubset<-")
export(dataSubset, augmentDefaultDataSubset, setDefaultDataSubset)
export("augmentDataSubset<-", applyDataSubset, importNm7Tables)

exportClasses("NMRun", "NMProblem", "NMBasicModel", "NMBasicModelNM7", "NMSimDataGen", "NMSimModel", "NMSimModelNM7", "nmModel", "nmRunReport")
exportMethods(nmData, getThetas, show, getOmegas, getSigmas, addDerivedCategorical, imposeCategoryFormat)
exportMethods(getObjective, nmDatabyVarType, getEstimateCov, getControlStatements, addedData)
exportMethods(getNmVersion, getMethodNames, getSimInfo, getIterations)