exportMethods(nmScatterPlot, nmHistogram, nmBoxPlot, nmQQNorm, show, nmACPlot)
exportMethods(nmScatterMatrix, nmBarChart, timeEventSPlot, timeEventDPlot, nmDotPlot)
export(setGraphParams, getGraphParams, getAllGraphParams, setAllGraphParams)
export("graphSubset", "graphSubset<-")
exportClass(multiTrellis)
export("panelLayout<-")